<template>
    <div class="wrapper" @click="callback">
        <div class="disk">{{letter}}</div>
        <div class="text">{{text}}</div>
    </div>
</template>

<script>
    export default {
        name: "Item",
        computed: {
          letter() {
              return this.name !== '+' && this.name.length ? this.name[0].toUpperCase() : '+'
          },
            text() {
                return this.name !== '+' && this.name.length ? this.name : 'Créer un nouveau salon'
            },
        },
        props: {
            name: {
                type: String,
                default: '+'
            },
            callback: {
                type: Function,
                default: () => {}
            }
        }
    }
</script>

<style scoped lang="scss">

    @import "../../../sass/variables";

    .wrapper {

        display: flex;
        align-items: center;
        cursor: pointer;

        .disk {
            width: 35px;
            height: 35px;
            border-radius: 100%;
            background-color: $night;
            color: white;
            font-size: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .text {
            padding-left: 15px;
            font-family: $font-family-sans-serif;
        }
    }
</style>
