<template>
    <div class="wrapper-message">
        <item class="header" :name="name"></item>
        <div class="message">{{content}}</div>
    </div>
</template>

<script>
    import Item from "../widget/Item";
    export default {
        name: "Message",
        components: {Item},
        props: {
            name: {
                type: String,
                default: ''
            },
            content: {
                type: String,
                default: ''
            }
        }
    }
</script>

<style scoped lang="scss">

    @import "../../../sass/variables";

    .wrapper-message {
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding: 10px;

        .header {
            display: flex;
            flex-direction: row;
        }

        .message {
            padding-top: 10px;
            font-family: $font-family-sans-serif;
        }
    }
</style>
