<template>
    <div class="upper-container">
        <div class="header">
            <logo class="logo"></logo>
            <span class="text">chat X</span>
        </div>
        <div class="content">
            <div class="header">Bonjour {{name}} 👋</div>
            <div class="details">{{text}}</div>
        </div>
        <span class="close" @click="TOGGLE_COLLAPSE">&times;</span>
    </div>
</template>

<script>
    import {mapGetters, mapMutations, mapState} from "vuex";
    import {TOGGLE_COLLAPSE} from "../../store/mutations";
    import {GET_UPPER_CONTAINER_TEXT} from "../../store/getters";

    export default {
        name: "UpperContainer",
        methods: {
            ...mapMutations([
                TOGGLE_COLLAPSE
            ])
        },
        computed: {
            ...mapState('user', {
                userName: 'name'
            }),
            ...mapGetters({
                text: GET_UPPER_CONTAINER_TEXT
            }),
            name() {
                return this.userName.length ? this.userName : 'Visiteur anonyme';
            }
        }
    }
</script>

<style scoped lang="scss">

    @import "../../../sass/variables";

    .upper-container {
        background-color: $night;
        height: 22vh;
        min-height: 250px;
        border-radius: 10px 10px 0 0;
        position: relative;
        padding: 1em;
        box-sizing: border-box;

        .header {
            display: flex;
            flex-direction: row;
            align-items: center;

            .logo {
                height: 2em;
            }

            .text {
                color: white;
                padding-left: 1em;
                font-family: $font-family-sans-serif;
            }
        }

        .content {
            color: white;
            font-family: $font-family-sans-serif;

            .header {
                font-size: 1.1rem;
                margin-top: 20px;
            }

            .details {
                font-size: 0.8rem;
                margin-top: 20px;
                line-height: 1.2rem;
            }
        }

        .close {
            position: absolute;
            color: white;
            font-size: 1.2rem;
            font-weight: bold;
            top: 1em;
            right: 1em;
            cursor: pointer;
        }
    }
</style>
