<template>
    <div>
        <div v-if="collapse" class="chat-container --collapsed" @click="TOGGLE_COLLAPSE">
            <logo class="logo"></logo>
            <span class="text">Ouvrir le tchat</span>
            <span></span>
        </div>
        <div v-else class="chat-container --open">
            <component :is="layout"></component>
        </div>
    </div>
</template>

<script>
    import Logo from './widget/Logo'
    import FormCreateUser from "./form/FormCreateUser";
    import {mapGetters, mapMutations, mapState} from 'vuex';
    import {TOGGLE_COLLAPSE} from "../store/mutations";
    import UpperContainer from "./part/UpperContainer";
    import {GET_LAYOUT} from "../store/getters";
    import {ACTION_QUIT_ROOM} from "../store/modules/rooms/actions";

    export default {
        computed: {
            ...mapState([
                'collapse'
            ]),
            ...mapGetters({
                layout: GET_LAYOUT
            })
        },
        methods: {
            ...mapMutations([
                TOGGLE_COLLAPSE
            ])
        },
        created() {
            window.addEventListener('beforeunload', function () {
                if (this.$store.state.rooms.current_room_uuid !== '' && this.$store.state.user.uuid !== ''){
                    this.$store.dispatch('rooms/'+ACTION_QUIT_ROOM)
                }
            })
        },
        components: {UpperContainer, Logo, FormCreateUser},
        name: "Tchat"
    }
</script>

<style scoped lang="scss">
    @import "resources/sass/variables";

    .chat-container {
        min-width: 400px;
        width: 10vw;

        &.--collapsed {
            height: 4em;
            background-color: $night;
            border-top-left-radius: 0.7rem;
            border-top-right-radius: 0.7rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;

            .logo {
                height: 2em;
                padding-left: 25px;
            }

            .text {
                padding-left: 25px;
                color: white;
                font-size: 1.3rem;
            }
        }

        &.--open {
            height: 50vh;
            min-height: 500px;
            background-color: white;
            border: 1px solid #929292;
            box-sizing: border-box;
            box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px 10px 0 0;
            position: relative;
        }
    }

</style>
