<template>
    <div>
        <UpperContainer></UpperContainer>
        <div class="middle-container">
            <component :is="middleContainerForm"></component>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";
    import {GET_MIDDLE_CONTAINER_FORM} from "../../store/getters";
    import UpperContainer from "../part/UpperContainer";

    export default {
        name: "DefaultLayout",
        components: {UpperContainer},
        computed: {
            ...mapGetters({
                middleContainerForm: GET_MIDDLE_CONTAINER_FORM
            })
        }
    }
</script>

<style scoped lang="scss">
    .middle-container {
        background-color: white;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        min-height: 40%;
        width: 80%;
        margin: -40px auto auto;
        z-index: 200;
        position: relative;
    }
</style>
