<template>
    <div class="wrapper">
        <div class="header">
            <font-awesome-icon
                class="icon"
                :icon="iconQuit"
                :style="{ color: 'white' }"
                size="3x"
                @click="quitRoom"></font-awesome-icon>
            <div class="text">{{roomName}}</div>
            <span class="close" @click="TOGGLE_COLLAPSE">&times;</span>
        </div>
        <div class="messages" ref="messages">
            <Message
                v-for="message of messages"
                :key="message.uuid"
                :content="message.content"
                :name="message.author"></Message>
        </div>
        <div class="new-message">
            <input placeholder="Message" v-model="textData" @keypress="handleKeyPress">
        </div>
        <div class="footer">
            <div class="users-container" @click="openUsers">
                <span>Voir les participants</span>
                <font-awesome-icon
                    class="icon"
                    :icon="iconUsers"
                    :style="{ color: 'black' }"
                    size="lg"
                    ></font-awesome-icon>
            </div>
        </div>
        <div v-if="roomUsers" class="users">
            <span class="title">Participants</span>
            <div class="users-list">
                <item v-for="user in roomUserList" :key="user.uuid" class="user" :name="user.name"></item>
            </div>
            <span class="close-users" @click="TOGGLE_ROOM_USERS">&times;</span>
        </div>
    </div>
</template>

<script>

    import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
    import {faAngleLeft, faUsers} from '@fortawesome/free-solid-svg-icons'
    import {mapMutations, mapState} from "vuex";
    import {TOGGLE_COLLAPSE, TOGGLE_ROOM_USERS} from "../../store/mutations";
    import {ACTION_QUIT_ROOM, GET_ROOM_USERS} from "../../store/modules/rooms/actions";
    import {GET_MESSAGES, SEND_MESSAGE} from "../../store/modules/messages/actions";
    import Message from "../part/Message";
    import Item from "../widget/Item";

    export default {
        name: "RoomLayout",
        components: {Item, Message, FontAwesomeIcon, faAngleLeft, faUsers},
        data() {
            return {
                iconQuit: faAngleLeft,
                iconUsers: faUsers,
                textData: '',
                poll: null
            }
        },
        mounted() {
            let self = this;
            setTimeout(() => {
                self.scroll()
            }, 0)
            self.$store.dispatch('messages/'+GET_MESSAGES);
            this.poll = setInterval(() => {
                self.$store.dispatch('messages/'+GET_MESSAGES);
            }, 5000);
        },
        beforeDestroy() {
          clearInterval(this.poll);
        },
        methods: {
            ...mapMutations([
                TOGGLE_COLLAPSE,
                TOGGLE_ROOM_USERS
            ]),
            quitRoom() {
                this.$store.dispatch('rooms/'+ACTION_QUIT_ROOM)
            },
            async handleKeyPress(event) {
                if (event.keyCode === 13) {
                    await this.$store.dispatch('messages/' + SEND_MESSAGE, {content: this.textData})
                    this.textData = ""
                    this.scroll()
                }
            },
            scroll() {
                let element = this.$refs['messages'];
                element.scrollTo(0, element.scrollHeight)
            },
            openUsers() {
                this.$store.dispatch('rooms/'+GET_ROOM_USERS)
                this.TOGGLE_ROOM_USERS()
            }
        },
        computed: {
            ...mapState('rooms', {
              roomName: 'current_room_name',
              roomUserList: 'current_room_users'
            }),
            ...mapState('messages', [
                'messages'
            ]),
            ...mapState([
                'roomUsers'
            ])
        }
    }
</script>

<style scoped lang="scss">

    @import "../../../sass/variables";

    .wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;

        .header {
            height: 4em;
            background-color: $night;
            border-radius: 10px 10px 0 0;
            display: flex;
            flex-direction: row;
            align-items: center;

            .icon {
                margin-left: 10px;
                cursor: pointer;
            }

            .text {
                font-family: $font-family-sans-serif;
                color: white;
                font-size: 2em;
                margin: auto;
            }
        }

        .messages {
            height: 32vh;
            overflow-y: auto;
        }

        .new-message {
            height: 4em;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 2.5em;
            width: 100%;

            input {
                width: 90%;
                font-family: $font-family-sans-serif;
                padding: 1em;
                font-size: 1rem;
                border-radius: 1em;
                outline: none;

                background-color: white;
                border: 1px solid #F2F2FB;
                box-sizing: border-box;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            }
        }

        .footer {
            background-color: #FAFAFA;
            height: 2.5em;
            width: 100%;
            position: absolute;
            bottom: 0;

            .users-container {
                position: absolute;
                right: 10px;
                bottom: 10px;
                cursor: pointer;
            }
        }

        .users {
            position: absolute;
            bottom: 2.5em;
            right: 2em;
            height: 30vh;
            width: 55%;
            background: white;
            z-index: 10;
            border: 1px solid #929292;
            box-sizing: border-box;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 18px 18px 0 0;

            display: flex;
            flex-direction: column;

            .title {
                text-align: center;
                padding: 20px;
                font-family: $font-family-sans-serif;
                font-size: 1.5em;
            }

            .users-list {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                overflow-y: auto;

                .user {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 10px;
                    margin-left: 10px;
                }
            }

            .close-users {
                position: absolute;
                top: 0.8em;
                right: 0.8em;
                color: black;
                font-size: 1.2rem;
                font-weight: bold;
                cursor: pointer;
            }
        }

        .close {
            position: absolute;
            color: white;
            font-size: 1.2rem;
            font-weight: bold;
            top: 1em;
            right: 1em;
            cursor: pointer;
        }
    }
</style>
