<template>
    <div class="wrapper">
        <span class="text">Rejoindre un salon</span>
        <div class="list-room">
            <Item :callback="createNewRoom"></Item>
            <Item
                v-for="room in rooms"
                :key="room.uuid"
                :callback="(() => enterRoom(room.uuid))"
                :name="room.name"></Item>
        </div>
    </div>
</template>

<script>
    import Item from "../widget/Item";
    import {SET_STEP, STEP_CREATE_ROOM} from "../../store/mutations";
    import {mapState} from "vuex";
    import {ACTION_ENTER_ROOM} from "../../store/modules/rooms/actions";
    export default {
        name: "FormListRooms",
        components: {Item},
        computed: {
          ...mapState('rooms', [
            'rooms'
          ])
        },
        methods: {
            createNewRoom() {
                this.$store.commit(SET_STEP, STEP_CREATE_ROOM)
            },
            enterRoom(room_uuid) {
                console.log("enter in room", room_uuid)
                this.$store.dispatch('rooms/'+ACTION_ENTER_ROOM, {room_uuid})
            }
        }
    }
</script>

<style scoped lang="scss">

    @import "../../../sass/variables";

    .wrapper {
        padding: 20px;

        .text {
            font-family: $font-family-sans-serif;
            padding-left: 10px;
        }

        .list-room {
            margin-left: -25px;
            max-height: 25vh;
            overflow-y: auto;
        }
    }
</style>
