<template>
    <div class="container">
        <div class="text">Je veux apparaître aux autres sous le nom de:</div>
        <input type="text" placeholder="Mon nom" v-model="nameData">
        <button type="button" @click="createUser">Me Connecter</button>
    </div>
</template>

<script>
    import {ACTION_CREATE_USER} from "../../store/modules/user/actions";

    export default {
        name: "FormCreateUser",
        methods: {
            createUser() {
                if (this.nameData.length) {
                    this.$store.dispatch('user/'+ACTION_CREATE_USER, {name: this.nameData})
                    this.nameData = ""
                }
            }
        },
        data(){
            return {
                nameData: ""
            }
        }
    }
</script>

<style scoped lang="scss">

    @import "../../../sass/variables";

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        .text {
            font-family: $font-family-sans-serif;
            display: block;
            text-align: left;
            font-size: 0.8rem;
        }

        input, button {
            width: 90%;
            margin-top: 20px;
            font-family: $font-family-sans-serif;
            padding: 1em;
            font-size: 1rem;
            border-radius: 1em;
            outline: none;
        }

        input {
            background-color: white;
            border: 1px solid #F2F2FB;
            box-sizing: border-box;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }

        button {
            background-color: $night;
            color: white;
            border-radius: 1em;
            border: none;
            cursor: pointer;
        }
    }
</style>
