<template>
    <div class="container">
        <div class="text">Créer un nouveau salon:</div>
        <input type="text" placeholder="Nom du salon" v-model="nameData">
        <button type="button" @click="createRoom">Créer</button>
        <div class="come-back" @click="backToRooms">J'ai changé d'avis, je veux revenir à la liste des salons</div>
    </div>
</template>

<script>
    import {SET_STEP, STEP_CHOOSE_ROOM} from "../../store/mutations";
    import {ACTION_CREATE_ROOM} from "../../store/modules/rooms/actions";

    export default {
        name: "FormCreateRoom",
        methods: {
            createRoom() {
                if (this.nameData.length) {
                    this.$store.dispatch('rooms/'+ACTION_CREATE_ROOM, {name: this.nameData})
                    this.nameData = ""
                }
            },
            backToRooms() {
                this.$store.commit(SET_STEP, STEP_CHOOSE_ROOM)
            }
        },
        data(){
            return {
                nameData: ""
            }
        }
    }
</script>

<style scoped lang="scss">

    @import "../../../sass/variables";

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        .text {
            font-family: $font-family-sans-serif;
            display: block;
            text-align: left;
            font-size: 0.8rem;
        }

        .come-back {
            font-family: $font-family-sans-serif;
            font-style: italic;
            display: block;
            text-align: left;
            font-size: 0.7rem;
            padding-top: 20px;
            cursor: pointer;
        }

        input, button {
            width: 90%;
            margin-top: 20px;
            font-family: $font-family-sans-serif;
            padding: 1em;
            font-size: 1rem;
            border-radius: 1em;
            outline: none;
        }

        input {
            background-color: white;
            border: 1px solid #F2F2FB;
            box-sizing: border-box;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }

        button {
            background-color: $night;
            color: white;
            border-radius: 1em;
            border: none;
            cursor: pointer;
        }
    }
</style>
